@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Josefin+Sans:wght@300&display=swap");

:root {
  --headings-font: "Josefin Sans", sans-serif;
  --body-font: "Forum", cursive;
  --text-color: rgba(255, 255, 255, 0.86);
}

html,
body,
.container {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #121212;
  color: var(--text-color);
  margin: 0;
  font-family: var(--body-font);
  font-size: 18px;
}

main {
  width: 328px;
}

h1 {
  font-family: var(--headings-font);
  text-transform: uppercase;
  letter-spacing: 16px;
  margin-bottom: 18px;
  font-size: 3.5rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  direction: rtl;
  text-indent: -14px;
}

img {
  display: block;
  margin: auto;
}

input {
  position: relative;
  display: block;
  width: 85%;
  height: 32px;
  margin: 16px auto;
  padding: 4px 16px;
  background: #242424;
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--text-color);
  border: none;
  border-bottom: solid #363636 2px;
  outline: none;
}

input:focus {
  border-bottom: solid #a37e2c 2px;
}

button {
  border: solid #a37e2c 1px;
  font-family: var(--body-font);
  font-size: 18px;
  color: #a37e2c;
  width: calc(100% - 18px);
  height: 32px;
  margin: 4px 9px;
  background-color: #121212;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
}

.top-notched {
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 25%);
}

.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation-name: slideInFromTop;
  animation-duration: 500ms;
}

#alert {
  display: none;
  animation-name: slideInFromTop;
  animation-duration: 500ms;
  text-align: center;
  width: calc(100% -18px);
  margin: 12px 9px;
  padding: 8px;
  border: solid #a37e2c 1px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes play180 {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -4320px 0px;
  }
}

.shapeshifter {
  animation-duration: 3000ms;
  animation-timing-function: steps(180);
  animation-fill-mode: forwards;
  animation-delay: 250ms;
  padding-top: 24px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  transform: scale(4.5);
  margin: 0 auto;
}

.shapeshifter.play {
  animation-name: play180;
}
