@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto&display=swap");

html, body, .container {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.86);
  margin: 0;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 18px;
  margin-bottom: 18px;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  margin-right: -14px;
}

img {
  display: block;
  margin: auto;
}

.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  animation-name: slideInFromTop;
  animation-duration: 500ms;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes play180 {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -4320px 0px;
  }
}

.shapeshifter {
  animation-duration: 3000ms;
  animation-timing-function: steps(180);
  animation-fill-mode: forwards;
  animation-delay: 250ms;
  padding-top: 24px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  scale: 450%;
  margin: 0 auto;
}

.shapeshifter.play {
  animation-name: play180;
}